# requirements.txt for Reporting Factory (Databricks Runtime)

# Core Databricks SDK
databricks-sdk>=0.19.0


# reportlab for PDF
reportlab>=4.0.4

# requests to post notifications to Teams/Slack/Logic Apps
requests>=2.31.0

# xlsxwriter for Excel exports
xlsxwriter>=3.2.0

# Optional: openpyxl if need to read Excel inputs
openpyxl>=3.1.2